<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style type="text/css">
      .is-loading {
        background: red;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <h1>All Tasks</h1>
      <ul>
        <li v-for="task in tasks"> {{ task.description }}</li>
      </ul>

      <h1>Incomplete Tasks</h1>
      <ul>
        <li v-for="task in tasks" v-text="task.description" v-if="!task.completed"></li>
      </ul>

      <!-- <ul>
        <li v-for="name in names">{{ name }}</li>
        <!-- another way of doing it -->
      <!-- <li v-for="name in names" v-text="name"></li> -->
      <!-- </ul>

      <input id="input" type="text" v-model="newName" />
      <button @click="addName">Add Name!</button>

      <!-- attribute binding -->
      <!-- <button :title="title">Hover over me</button> -->

      <!-- class binding -->
      <div>
        <button
          :class="{ 'is-loading' : isLoading }"
          @click="toggleClass"
          :disabled="toggleButton"
        >
          Test Click
        </button>
      </div>

      <div>
        <h1>{{ reversedMessage }}</h1>
      </div>
    </div>

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

    <script>
      // create a view instance, bind it to an element in your DOM, specify some data
      var app = new Vue({
        el: "#root",

        data: {
          // className: "color-red",
          // title: "Now the title is being set through javascript",
          // newName: "",
          // names: ["Joe", "Marty", "Jane"],
          isLoading: false,
          toggleButton: false,
          message: "Hello World",

          tasks: [
            { description: "Go to the store", completed: true },
            { description: "Clean room", completed: false },
            { description: "Go to the gym ", completed: true },
            { description: "Clean car", completed: true },
          ],
        },

        computed: {
          reversedMessage() {
            // splits the message into an array, reverses the array then joins the array back
            return this.message.split("").reverse("").join("");
          },

          incompleteTasks() {
            return this.tasks.filter((task) => !task.completed);
          },
        },

        methods: {
          // addName() {
          // this.names.push(this.newName);

          // this.newName = "";

          toggleClass() {
            this.isLoading = true;
            this.toggleButton = true;
          },

          // },
        },
      });
    </script>
  </body>
</html>
